<div class="navbar">
    <a id="add" href="/add"><ul>Add yourself to queue</ul></a>
    <a id="show" href="/show-current-queue"><ul>Show current queue</ul></a>
    <a id="admin" href="/admin"><ul>Admin</ul></a>
</div>