<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
    <style>
        #admin{
            color: black;
        }
        p{
            font-size: 25px;
            font-weight: bolder ;
        }
        button{
            margin-top: 30px;
            border: 2px  solid black ;
            border-radius: 40px;
            background-color: rgb(121, 117, 117);
            height: 60px;
            width: 150px;
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 30px;
            
        }
    </style>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <%-include('../partials/navbar')%>
    <div class="admin">
    <form action="/register-admin" method="post">
        <p>New Admin Registration!!</p>
        <p>Enter new username</p>
        <input type="text" name="username" id="">
        <p>Enter your password</p>
        <input type="password" name="password">
        <br>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>